# Derived From:
# http://kleber-swf.com/the-definitive-gitignore-for-unity-projects/

# ======= #
# Private #
# ======= #
_private/
Release/
/Help/
*.shfbproj_*

/Assets/Zenject/Extras

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
